<ion-header>

  <ion-navbar class="header-navbar">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="settingUpdate()">
        <ion-icon name="checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngIf="!isSettingsLoad" padding text-center>
    <ion-spinner item-center color="full-light" name="bubbles"></ion-spinner>
  </div>
  <ion-list class="bg-white" *ngIf="isCallSetting && isSettingsLoad">
    <ion-list-header class="bg-white">
      Video
    </ion-list-header>
    <ion-item class="bg-white">
      <ion-icon class="color-1" name="videocam" small item-start></ion-icon>
      <ion-label class="font-1-3">Video Call</ion-label>
      <ion-toggle [(ngModel)]="userSettings.videoCall" [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item>
    <ion-item class="bg-white">
      <ion-icon class="color-2" name="volume-up" small item-start></ion-icon>
      <ion-label class="font-1-3">Video Call Volumn</ion-label>
      <ion-toggle [(ngModel)]="userSettings.videoCallVolumn" [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item>

    
  </ion-list>

  <ion-list *ngIf="isCallSetting && isSettingsLoad" class="bg-white">
    <ion-list-header class="bg-white">
      Voice
    </ion-list-header>
    <ion-item class="bg-white">
      <ion-icon class="color-1" name="call" small item-start></ion-icon>
      <ion-label class="font-1-3">Voice Call</ion-label>
      <ion-toggle [(ngModel)]="userSettings.voiceCall" [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item>
    <ion-item class="bg-white">
      <ion-icon class="color-2" name="volume-up" small item-start></ion-icon>
      <ion-label class="font-1-3">Voice Call Volumn</ion-label>
      <ion-toggle [(ngModel)]="userSettings.voiceCallVolumn" [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item>
    <ion-item class="bg-white">
      <ion-icon class="color-3" name="eye-off" small item-start></ion-icon>
      <ion-label class="font-1-3">Show Caller ID</ion-label>
      <ion-toggle [(ngModel)]="userSettings.showCallerId" [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item>

    <ion-item class="bg-white">
      <ion-icon class="color-4" name="trash" small item-start></ion-icon>
      <ion-label class="font-1-3">Delete Call Logs</ion-label>
      <ion-toggle [(ngModel)]="userSettings.deleteCallLogs" [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item>
    <ion-item class="bg-white">
      <ion-icon class="color-6" name="recording" small item-start></ion-icon>
      <ion-label class="font-1-3">Auto-Record Voice Call</ion-label>
      <ion-toggle [(ngModel)]="userSettings.autoCallRecorder" [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="isPostSettings && isSettingsLoad" class="bg-white">
    <ion-list-header class="bg-white">
      Post Privacy
    </ion-list-header>
    <!-- <ion-item class="bg-white">
      <ion-icon class="color-3" name="pin" small item-start></ion-icon>
      <ion-label class="font-1-3">Location</ion-label>
      <ion-toggle [(ngModel)]="userSettings.videocall" [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item> -->
    <ion-item class="bg-white">
      <ion-icon class="color-6" name="eye" small item-start></ion-icon>
      <ion-label class="font-1-3">Post Visible</ion-label>
      <ion-select name="postvisible" [(ngModel)]="userSettings.postVisible" [ngModelOptions]="{standalone: true}">
        <ion-option value="Public">Public</ion-option>
        <ion-option value="Only me">Only me</ion-option>
        <ion-option value="Friends">Friends</ion-option>
        <ion-option value="Friends of Friends">Friends of Friends</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="bg-white">
      <ion-icon class="color-4" name="create" small item-start></ion-icon>
      <ion-label class="font-1-3">Who can post on my wall</ion-label>
      <ion-select name="postvisible" [(ngModel)]="userSettings.postOnWall" [ngModelOptions]="{standalone: true}">
        <ion-option value="Everyone">Everyone</ion-option>
        <ion-option value="Only me">Only me</ion-option>
        <ion-option value="Friends">Friends</ion-option>
        <ion-option value="Friends of Friends">Friends of Friends</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="bg-white">
      <ion-icon class="color-1" name="map" small item-start></ion-icon>
      <ion-label class="font-1-3">Private Tracking</ion-label>
      <ion-toggle [(ngModel)]="userSettings.privateTracking" [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="isChatSettings && isSettingsLoad" class="bg-white">
    <ion-list-header class="bg-white">
      Chat
    </ion-list-header>
    <ion-item class="bg-white">
      <ion-icon class="color-6" name="volume-up" small item-start></ion-icon>
      <ion-label class="font-1-3">Volumn</ion-label>
      <ion-toggle [(ngModel)]="userSettings.chatVolumn" [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item>
    <ion-item class="bg-white">
      <ion-icon class="color-3" name="locate" small item-start></ion-icon>
      <ion-label class="font-1-3">Hide Status</ion-label>
      <ion-toggle [(ngModel)]="userSettings.hideStatus" [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item>


    <ion-item class="bg-white">
      <ion-icon class="color-2" name="trash" small item-start></ion-icon>
      <ion-label class="font-1-3">Delete Chat</ion-label>
      <ion-select name="postvisible" [(ngModel)]="userSettings.deleteChat" [ngModelOptions]="{standalone: true}">
        <ion-option value="5">05 Days</ion-option>
        <ion-option value="10">10 Days</ion-option>
        <ion-option value="20">20 Days</ion-option>
        <ion-option value="40">40 Days</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="bg-white">
      <ion-icon class="color-4" name="archive" small item-start></ion-icon>
      <ion-label class="font-1-3">Archive Chat</ion-label>
      <ion-select name="postvisible" [(ngModel)]="userSettings.archiveChat" [ngModelOptions]="{standalone: true}">
        <ion-option value="5">05 Days</ion-option>
        <ion-option value="10">10 Days</ion-option>
        <ion-option value="20">20 Days</ion-option>
        <ion-option value="40">40 Days</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="bg-white">
      <ion-icon class="backupcloud-icon-color" name="filing" small item-start></ion-icon>
      <ion-label class="font-1-3">Backup Chat</ion-label>
      <ion-select name="postvisible" [(ngModel)]="userSettings.backupChat" [ngModelOptions]="{standalone: true}">
        <ion-option value="5">05 Days</ion-option>
        <ion-option value="10">10 Days</ion-option>
        <ion-option value="20">20 Days</ion-option>
        <ion-option value="40">40 Days</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="bg-white">
      <ion-icon class="color-6" name="glasses" small item-start></ion-icon>
      <ion-label class="font-1-3">Hide Profile</ion-label>
      <ion-toggle [(ngModel)]="userSettings.hideProfile" [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item>

    <ion-item class="bg-white">
      <ion-icon class="color-5" name="done-all" small item-start></ion-icon>
      <ion-label class="font-1-3">Hide Delivered Status</ion-label>
      <ion-toggle [(ngModel)]="userSettings.hideDeliveredStatus" [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item>
    <ion-item class="bg-white">
      <ion-icon class="contact-icon-color" name="people" small item-start></ion-icon>
      <ion-label class="font-1-3">Visible to Contact List</ion-label>
      <ion-toggle [(ngModel)]="userSettings.visibletoContactList" [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>