<!-- Generated template for the MediaViewerComponent component -->

<ion-slides *ngIf="mediaURL.length > 0" pager="true" zoom="true" paginationType="progress">
  <ng-container *ngFor="let item of mediaURL;">
    <ion-slide *ngIf="item.mediatype=='image'">


      <img [src]="item.url" [id]="item.id" />

      <div class="image-edit-controls">
        <!-- *ngIf="item.imageedit" -->
        <ion-buttons text-right>
          <!-- <button ion-button clear color="light-dark" round (click)="editImage(item)">
                <ion-icon name="color-palette"></ion-icon>
              </button> -->
          <button ion-button clear color="light-dark" round (click)="editImage(item)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-buttons>

      </div>

    </ion-slide>
  </ng-container>
</ion-slides>
<ng-container *ngFor="let item of mediaURL;">
  <div class="video-player" *ngIf="item.mediatype =='video'">
    <video controls [src]="item.url" [id]="item.id" *ngIf="item.mediatype=='video'" width="100%" height="100%" controlsList="nodownload">
      Please try again later.
    </video>
    <div class="icon-delete-control">
      <button ion-button clear small>
        <ion-icon name="trash"></ion-icon>
      </button>
    </div>
  </div>
</ng-container>