<ion-header>

  <ion-navbar>
    <ion-buttons left (click)="closeChatBox()">
      <button ion-button clear>
        <ion-icon name="arrow-back" class="icon-post-post" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <button ion-item class="header-info" (click)="userProfile()">
        <ion-avatar item-start>
          <img [src]="toUserDetails?.img" *ngIf="toUserDetails?.img" class="userimage" />
          <img src="assets/img/avatar-profile-picture-default-i.jpg" *ngIf="!toUserDetails?.img" class="userimage" />
        </ion-avatar>
        <h2>
          <span class="label">{{ toUserDetails.name || "Avatar" }}</span>
        </h2>
        <p>
          <span class="status" [ngClass]="toUserDetails?.status == 'Online'? 'online' : 'offline'">
            {{ toUserDetails.status || "Offline" }}
          </span>
        </p>
      </button>
    </ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="moreOption($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="bg-white" id="chatboxbody" #chatboxbody>
  <ion-list class="chat-list">
    <ng-container *ngFor="let item of messageList;let i = index">
      <div class="chatmessagebox" [ngClass]="(item?.sendby?.id?.toLowerCase() == userId) ? 'chatmessagebox-me' : 'chatmessagebox-to'"
        (press)="onHold()">

        <ion-item item-start class="bg-white chat-item">
          <ion-avatar item-start (click)="openProfile()">
            <img [src]="item?.profileimage" *ngIf="item?.profileimage">
            <img src="assets/img/avatar-profile-picture-default-i.jpg" *ngIf="!item?.profileimage">
          </ion-avatar>

          <h2 class="chat-tousername">
            {{ item?.name }}
          </h2>

          <div class="chat-text" [innerHTML]="item?.message" *ngIf="!item?.mediatype">
          </div>

          <div class="chat-text chat-image" *ngIf="item?.mediatype">
            <img [src]="item?.mediacontent" />
            <div class="content-text-overlap" *ngIf="item?.message?.length > 5">
              {{ item?.message }}
            </div>
          </div>

          <div class="delivertime">
            <span class="msg-block">
              <ion-icon class="icon" name="time" small></ion-icon>
              <span class="text">
                {{ item?.sdate }}
              </span>
            </span>
          </div>

          <div class="deliverstatus">
            <span class="msg-block">
              <ion-icon class="icon" name="checkmark-circle-outline" small></ion-icon>
            </span>
          </div>
        </ion-item>

      </div>
    </ng-container>
  </ion-list>
  <div class="chat-shawdo"></div>
</ion-content>

<ion-footer>
  <ion-toolbar class="control-baseline">

    <ion-buttons left>
      <button ion-button clear icon-only (click)="shareThings()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-textarea class="message-inputtext-box" type="text" (input)="adjustTextarea($event)" id="messageTextarea"
      #messageTextarea [(ngModel)]="messageTextBox"></ion-textarea>
    <ion-buttons end>
      <button [disabled]="textempty" [hidden]="textempty" ion-button clear icon-only (click)="sendMessage($event)">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>